In [ ]:
import pandas as pd
import numpy as np
data=pd.read_csv('/content/drive/MyDrive/seattle-weather.csv')
data.head()

         date  precipitation  temp_max  temp_min  wind  weather
0  2012-01-01            0.0      12.8       5.0   4.7  drizzle
1  2012-01-02           10.9      10.6       2.8   4.5     rain
2  2012-01-03            0.8      11.7       7.2   2.3     rain
3  2012-01-04           20.3      12.2       5.6   4.7     rain
4  2012-01-05            1.3       8.9       2.8   6.1     rain

In [ ]:
data.isna().any()

date             False
precipitation    False
temp_max         False
temp_min         False
wind             False
weather          False
dtype: bool

In [ ]:
data=data.drop(['date'],axis=1)

In [ ]:
data.columns

Index(['precipitation', 'temp_max', 'temp_min', 'wind', 'weather'], dtype='object')

In [ ]:
# from sklearn.preprocessing import LabelEncoder
# le=LabelEncoder()

In [ ]:
# for i in data:
#   if data[i].dtype==np.dtype('O'):
#     data[i]=le.fit_transform(data[i])

In [ ]:
data

      precipitation  temp_max  temp_min  wind  weather
0               0.0      12.8       5.0   4.7  drizzle
1              10.9      10.6       2.8   4.5     rain
2               0.8      11.7       7.2   2.3     rain
3              20.3      12.2       5.6   4.7     rain
4               1.3       8.9       2.8   6.1     rain
...             ...       ...       ...   ...      ...
1456            8.6       4.4       1.7   2.9     rain
1457            1.5       5.0       1.7   1.3     rain
1458            0.0       7.2       0.6   2.6      fog
1459            0.0       5.6      -1.0   3.4      sun
1460            0.0       5.6      -2.1   3.5      sun

[1461 rows x 5 columns]

In [ ]:
x=data.drop(["weather"],axis=1)

In [ ]:
y=data['weather']

In [ ]:
from sklearn.model_selection import train_test_split
(trainX,testX,trainY,testY)=train_test_split(x,y,test_size=0.2,random_state=42)

In [ ]:
from sklearn.svm import SVC
model=SVC()
model_svm=model.fit(trainX,trainY)
model.score(testX,testY)

0.764505119453925

In [ ]:
import pickle
pickle.dump(model,open("model.pkl","wb"))

In [ ]:
p=model.predict([[0.0,12.8,5.0,4.7]])
print(p[0])

sun

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  "X does not have valid feature names, but"